@page {
    size: A4 portrait;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 1.2cm;
}

table {
    width: 100%;
    border-collapse: collapse;
    page-break-inside: auto;
}

th {
    background-color: rgb(101, 35, 234);
    color: white;
}

tr {
    page-break-inside:avoid;
    page-break-after:auto
}

tr:nth-child(even) {
    background-color: #cecece;
}

tr:nth-child(odd) {
    background-color: white;
}

table, th, td {
    border: none;
}

th, td {
    padding: 15px;
    text-align: left;
}

#header {
    width: 100%;
}

#banner {
    width: 100%;
    height: auto;
}

#footer {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    right: 0;
}

#page-number::after {
    counter-increment: page;
    counter-reset: page 1;
    content: counter(page);
}

#page-count::after {
    padding-right: 0;
    margin-right: 0;
    content: counter(pages);
}